* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    color: #5a5a5a;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    background-color: transparent;
    outline: none;
    color: inherit;
    border: none;
    font-family: inherit;
}

li {
    list-style-type: none;
}

img {
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.logo {
    gap: 25px;

    &__menu {
        width: 22px;
    }

    &__icon {
        width: 130px;
    }
}


.opacity {
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 12;
}

.container {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}